<%- include ("./parts/header.ejs") %>
<%- include ("./parts/navbar.ejs") %>

<div class="container text-center">

    <h2 class="mt-4 mb-3">Add Product</h2>
    <form action="/admin/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" class="form-control mb-2" placeholder="Name">
        <% let nameError = inputErrors.find (err => err.param === 'name') %>
        <% if (nameError) { %>
        <p class="alert alert-danger">
            <%= nameError.msg %>
        </p>
        <% } %>
        <input type="number" class="form-control mb-2" name="price" placeholder="Price">
        <% let priceError = inputErrors.find (err => err.param === 'price') %>
        <% if (priceError) { %>
        <p class="alert alert-danger">
            <%= priceError.msg %>
        </p>
        <% } %>
        <textarea type="password" class="form-control mb-2" name="description" placeholder="Description"></textarea>
        <% let descriptionError = inputErrors.find(err => err.param === 'description') %>
        <% if (descriptionError) { %>
        <p class="alert alert-danger">
            <%= descriptionError.msg %>
        </p>
        <% } %>
        <select type="password" class="form-control mb-2" name="category">
            <option value="" selected>Choose a category</option>
            <option value="gaming-consoles">Gaming Consoles</option>
            <option value="smart-phones">Phones</option>
            <option value="laptops">Laptops</option>
        </select>
        <% let categoryError = inputErrors.find(err => err.param === 'category') %>
        <% if (categoryError) { %>
        <p class="alert alert-danger">
            <%= categoryError.msg %>
        </p>
        <% } %>
        <input type="file" class="form-control mb-2" name="image" placeholder="Image">
        <% let imageError = inputErrors.find(err => err.param === 'image') %>
        <% if (imageError) { %>
        <p class="alert alert-danger">
            <%= imageError.msg %>
        </p>
        <% } %>
        <input type="submit" value="Add Product" class="btn btn-primary">
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>

</div>
<%- include ("./parts/footer.ejs") %>